*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(30, 30, 30);
    height: 100vh;
    width: 100vw;
}

/*Header*/
#header{
    background-color: rgb(30, 30, 30);
    opacity: 80%;
    height: 3em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


/*.account{
    margin-right: 1.2em;
    width: 6em;
    height: auto;
    margin-top: 4px;
    margin-right: -8px;
    align-items: center;
}*/

.search-box{
    position: absolute;
    top: 1em;
    left: 90em;
    transform: translate(-50%, -25%);
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 33, 40);
    border-radius: 40px;
}

.search-text{
    border: none;
    outline: none;
    background: none;
    color: rgb(157, 102, 190);
    padding: 0;
    font-size: 13px;
    line-height: 30px;
    width: 0; /*Dessa forma, mais pra frente, ao passar o mouse por cima aparecerá o search text*/
    transition: .5s;
    font-family: 'Paytone One';
}

::-webkit-input-placeholder{
    color:rgb(242, 219, 219);
}

.search-btn{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.search-box:hover > .search-text{
    width:240px;
    padding: 0 6px;
}

.search-box:hover > .search-bottom{
    background: rgb(245, 245, 247);
}

.inputsearch{
    float: left;
    outline: none;
    border: 2px solid rgb(255, 254, 254);
    opacity: 80%;
    border-radius: 20px;
    width: 15em;
    height: 25px;
    font-size: 0.9em;
    border: none;
    line-height: 9px;
}

.inputsearch:hover{
    opacity: 100%;
}

.buscar{
    height: 28px;
    cursor: pointer;
    border-radius: 20px;
    border-color: rgb(87, 63, 138);
    color: rgb(245, 245, 247);
    background-color: rgb(87 63 138);
}

.acc-menu{
    
}

#heading{
    background-image: url(files/habitos/mulher_academia1.jpg);
    width: 1500;
    height: 450px;
    background-position-x: 120em;
    align-items: center;
    justify-content: space-between;
}
.TitleHeader{
    font-family: 'Paytone One';
    font-size: 8em;
    color: rgb(134, 104, 197);
    margin-left: 1em;
    padding-top: 0.2em;
    columns: 3;
    text-shadow: rgb(87, 63, 138) 1px 1px 0.3rem;
    position: relative;
}
.SubTitleHeader{
    width: 260px;
    font-family: 'Paytone One';
    font-size: 25px;
    color: rgb(242, 219, 219);
    margin-left: 46em;
    margin-top: -9em;
    justify-content: center;
    text-shadow: rgb(87, 63, 138) 2px 2px 0.3rem;
    position: relative;
}

/*Fim da Header*/

