*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: rgb(30, 30, 30);
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    margin: 0;
}

/*Header*/
#header{
    background-color: rgb(30, 30, 30);
    width: 100vw;
    height: 3.5em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /*position: fixed;*/
}


/*.account{
    margin-right: 1.2em;
    width: 6em;
    height: auto;
    margin-top: 4px;
    margin-right: -8px;
    align-items: center;
}*/

/*Caixa de pesquisa*/
.search-box{
    position: absolute;
    top: 1em;
    left: 88em;
    right: auto;
    transform: translate(-60%, -25%);
    height: 6vh;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(36, 33, 40);
    border-radius: 40px;
}

.search-text{
    border: none;
    outline: none;
    background: none;
    color: rgb(157, 102, 190);
    padding: 0;
    font-size: 13px;
    line-height: 30px;
    width: 0; /*Dessa forma, mais pra frente, ao passar o mouse por cima aparecerá o search text*/
    transition: .5s;
    font-family: 'Paytone One', sans-serif;;
}

::-webkit-input-placeholder{
    color:rgb(242, 219, 219);
}

.search-btn{
    width: 2vw;
    height: 5vh;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.search-box:hover > .search-text{
    width: 93px;
    left: 100px;
    padding: 0 3px;
}

.search-box:hover > .search-bottom{
    background: rgb(245, 245, 247);
}
/*Fim da caixa de pesquisa*/

.user{
    position: absolute;
    top: 1em;
    left: 93em;
    transform: translate(-60%, -25%);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.account_icon{   
    width: 3vw;
    height: 3vh;
    margin-top: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}


/*Formulário de Login em outro arquivo*/

.main-login{
    width: 100vw;
    height: 100vh;
    background-color: rgb(134, 104, 197);
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 3vw;
    color: aliceblue;
    font-family: 'Paytone One';
    font-weight: 580;
}

.left-login-image{
    width: 30vw;
}

.right-login{
    width: 50vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-login{
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px 35px;
    background-color: rgb(83, 60, 132);
    border-radius: 25px;
    box-shadow: 0px 10px 40px #00000056;
}

.card-login > h1 {
    color: aliceblue;
    font-family: 'Paytone One';
    font-weight: 590;
}

.textfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin: 20px 0px;
}

.textfield > input{
    width: 100%; /*altera tamanho*/
    border: none;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(134, 104, 197);
    color: aliceblue;
    font-size: 12pt;
    outline: none;
    box-sizing: border-box;
}

.textfield > label{
    color: aliceblue;
    margin-bottom: 10px;
}

.textfield > input::placeholder{
    color: rgb(77, 50, 98);
}

.btn-login{
    width: 100%;/*altera tamanho*/
    padding: 16px 0px;
    margin: 15px;
    border: none;
    border-radius: 30px;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    letter-spacing: 3px;
    color: rgb(77, 50, 98);
    background-color: aliceblue;
    box-shadow: 0px 10px 40px -12px rgb(77, 50, 98);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card-login > img{
    justify-content: space-between;
}


.card-login > #other-login-ways{
    width: 10vw;
    height: auto;
    margin-left: 18%;
}

.facebook-image-login , .google-image-login{
    width: 25%;
    justify-content: space-around;
    align-items: center;
    left: 2em;
}


    @media only screen and (max-width: 950px){
        .card-login{
            width: 85%;
        }
    }

    @media only screen and (max-width: 950px) /*Para celular e telas menores*/{
        .main-login{
            flex-direction: column;
        }

        .left-login > h1{
            display: none;
        }

        .left-login{
            width: 100%;
            height: auto;
        }

        .right-login{
            width: 100%;
            height: auto;
        }

        .left-login-image{
            width: 40vw;
        }

        .card-login{
            width: 90%;
        }
    }

    @media only screen and (max-width: 1024px) /*telas intermediárias(tablets)*/{
        .main-login{
            width: 100vw;
        }

        .left-login{
            width: 60%;
            height: auto;
        }

        .left-login > h1{
            width: 40vw;
        }

        .left-login-image{
            width: 30vw;
        }

        .right-login{
            width: 60%;
            height: auto;

        }

        .card-login{
            width: 45vw;
        }
    }
    
    @media only screen and (min-width: 290px) and (max-width: 950px){
        .main-login{
            width: 100vw;
        }

        .left-login > h1{
            width: 20vw;
        }

        .left-login-image{
            display: none;
        }

        .right-login{
            width: 100vw;
        }

        .card-login{
            width: 80%;
        }
    }


/*Fim do formulário de login*/

.socials{
    width: 100vw;
    height: 7vh;
    justify-content: center;
    align-items: center;
    display: flex;
}

.home .consult .contact{
    justify-content: space-between;
    display: flex;
    width: auto;
}

.home{
    font-size: 1em;
    font-family: 'Kanit';
    color: rgb(157, 102, 190);
    text-decoration: none;
    padding: 3px 2em;
    justify-content: center;
    text-align: center;
    
}

.consult{
    font-size: 1em;
    font-family: 'Kanit';
    color: rgb(157, 102, 190);
    text-decoration: none;
    padding: 3px 2em;
    justify-content: center;
    text-align: center;
}

.contact{
    font-size: 1em;
    font-family: 'Kanit';
    color: rgb(157, 102, 190);
    text-decoration: none;
    padding: 3px 2em;
    justify-content: center;
    text-align: center;
}

#heading{
    background-image: url(files/habitos/mulher_academia1.jpg);
    width: 100vw;
    height: 60%;
    background-position-x: 120em;
    align-items: center;
    justify-content: space-between;
}

/*.titles{
    justify-content: space-between;
    width: 100vw;
    height: 60vh;
}*/

.TitleHeader{
    font-family: 'Paytone One';
    font-size: 8em;
    color: rgb(134, 104, 197);
    margin-right: 0;
    padding-top: 0.2em;
    left: 1em;
    width: 50vw;
    text-shadow: rgb(87, 63, 138) 1px 1px 0.3rem;
    position: relative;
    /*justify-content: space-between;*/
    align-items: center;
    display: flex;
}
.SubTitleHeader{
    width: 20vw;
    font-family: 'Paytone One';
    font-size: 25px;
    color: rgb(242, 219, 219);
    left: 70vw;
    margin-top: -8em;
    justify-content: center;
    text-shadow: rgb(87, 63, 138) 2px 2px 0.3rem;
    position: absolute;
    /*margin-block-start: 0;
    margin-block-end: 0;*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*Fim da Header*/

#goal{
    width: 100vw;
    height: 45%;
    background-color: rgb(134, 104, 197);
    box-sizing: content-box;

}

.goal-of-website{
    width: 80vw;
    color: aliceblue;
    font-family: "Paytone One";
    font-size: 25px;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    /*padding: 3em;*/
    padding-top: 5.5em;
    left: 7.5em;
    line-height: 30px;
    line-break: auto;
    font-weight: 300;
    position: absolute;
    
}

#benefits-of-food{
    width: 100vw;
    height: 80%;
    display: flex;
    background-image: url(files/comida/tangerina-modified.jpg);
    background-position-x: 300em;
    background-position-y: center;
}

.power-of-feeding{
    font-family: 'Paytone One';
    font-size: 3em;
    color: aliceblue;
    width: 20%;
    padding-top: 20%;
    margin-left: 50px;
    text-shadow: -1px 2px 2px rgb(157, 102, 190);
}

.first-box, .second-box, .third-box{
    
}

